@import "compass";
@import "partials/base";
@import "partials/normalize";
@import "partials/variables";
@import "partials/layout";
/*@font-face {
  font-family: "Maratre";
  src: url('Maratre.otf') format('opentype'), 
  url('Maratre.ttf') format('truetype'),
  url('maratre.eot') format('embedded-opentype');
}*/
@include font-face("Maratre",font-files("Maratre.otf","Maratre.ttf", "maratre.eot", "maratre.woff","maratre.woff2"));



h1{
	font-family: "Maratre";
	
}
/*.col-md-7{

	
	padding-bottom: 0;
	
	max-height: 760px;

}*/
#img1{
	
	width: 469px;  /*469px 578px*/
	height: 578px;
	position: relative;
/*	z-index: 0;*/
	/*margin-left: 4.5em;*/
	margin-left: 60px;
	border-left: 1px solid black;
	box-shadow: 0px 0px 10px grey;

}

.border1{
	width: 421px;
	height: 539px;
	position: relative;
	z-index: 50;
    margin-top: -550px;

    margin-left:70px;
    /*left: 7.5em;*/
	border: 4px solid white;
	margin-bottom: 200px;
	

}
/*.border1{
	width: 421px;
	height: 539px;
	border: 4px solid black;
	position: relative;
	z-index: 50;
	margin-top: -550px;
	margin-left: 84px;

}*/

 #img2{
	width: 300px;
	height: 195px;
	position: absolute;
	z-index: 100;
	top: 89px;
	left: 27em;
	box-shadow: 0px 0px 10px grey;
	margin-bottom: 0em;
	padding-bottom: 0;

	
}
 #img3{
	width: 445px;
	height: 252px;
	position: absolute;
	z-index: 2;
	top: 390px;
	left: 13.5em;
	box-shadow: 0px 0px 10px grey;
	margin-bottom: 0;
	margin-bottom: 0;
	padding-bottom: -20em;

}
.heading{
	font-family: "Maratre";
	font-size: 4em;
	padding-top: 0px;
	text-align: center;
	
}
.large {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    position: relative;
    padding: 0;
    width: 50%;
    margin-left: 130px;
    margin-top: -1.9em;

}
.small {
    height: 1px;
    border: 0;
    border-top: 3px solid black;
    position: relative;
    z-index: 3;
    padding: 0;
    width: 30%;
    margin-left: 190px;
    margin-top: -1.5em;

}
.details{
	font-family: "Great Vibes", cursive;
	font-size: 1.4em;
	padding-top: 36px;

	margin-left: 70px;
	margin-right: 2em;
	text-align: justify;
    text-justify: inter-word;
    color: $DarkGrey;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
	
}
.row#row2
{
	padding-bottom: 0px;

}
.about-hidden{
	top: 12em;
}
.col-md-6#about-hidden{
	top: -14em;
	right: 0em;
	left: 0em;
}
.details-hidden{
	font-family: "Great Vibes", cursive;
	margin-left: 9em;
	margin-right: 12em;
	text-align: justify;
}

#row2{

}




@import "partials/media";
