@import "compass";
@include font-face("Maratre",font-files("Maratre.otf","Maratre.ttf", "maratre.eot", "maratre.woff","maratre.woff2"));
@import "partials/base";
@import "partials/row2";
@import "partials/normalize";
@import "partials/variables";
@import "partials/layout";
@import "partials/row3";
@import "partials/loader";
@import "partials/hovereffect";
/*@font-face {
  font-family: "Maratre";
  src: url('Maratre.otf') format('opentype'), 
  url('Maratre.ttf') format('truetype'),
  url('maratre.eot') format('embedded-opentype');
}*/


@media (min-width: 992px) {
    .carousel-item.active-next {
        display: flex;
    }
}



h1{
	font-family: "Maratre";
	
}
/*.col-md-7{

	
	padding-bottom: 0;
	
	max-height: 760px;

}*/








@import "partials/row6";
@import "partials/row8";
@import "partials/media";

/*Extra-----------------*/
