/*.row#row2
{
	padding-bottom: 0px;

}
.col-lg-7#imageoverlay{
          max-height: 720px;
          overflow-y: hidden;
          overflow-x: hidden;
          
}
#img12{
width: 67%;  
	height: 578px;
	position: relative;
    z-index: 0;
    margin-left: 5%;
    border-left: 1px solid black;
	box-shadow: 0px 0px 10px grey;
	
}
#img22{
    width: 40%;
	height: 195px;
	position: relative;
	z-index: 52;
	margin-left:52%;
	top:-480px;
	

}
#img32{
	width: 60%;
	height: 252px;
	position: relative;
	z-index: 1;
	margin-left: 26%;
	top: -364px;
	margin-bottom: -120px;

}
.border1{
	width: 63%;
	height: 539px;
	position: relative;
	z-index: 50;
    margin-top: -556px;

    margin-left:6.5%;
    
	border: 4px solid white;
	

}
.heading#head1::before{
	border-bottom: 2px solid black;
	position: absolute;
	content: "";
	width: 200px;
	margin-top: 81px;

}
.large {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    
    position: relative;
    padding: 0;
    width: 30%;
    margin-left: 35%;
   margin-top: -1.8em;

}
.small {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    
    position: relative;
    padding: 0;
    width: 60%;
    margin-left: 20%;
   margin-top: -2.30em;

}
.details{
	font-family: "Great Vibes", cursive;
	font-size: 1.4em;
	padding-top: 36px;

	margin-left: 70px;
	margin-right: 2em;
	text-align: justify;
    text-justify: inter-word;
    color: $DarkGrey;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 60px;
	
}
.heading{
	font-family: "Maratre";
	font-size: 4em;
	padding-top: 0px;
	text-align: center;
}
*/
/*.row#row2{
	
}
.container#row2container{
	

}
#img12{
    width: 67%;  
	position: absolute;
    z-index: 0;
    left: 4%;
    border-left: 1px solid black;
	box-shadow: 0px 0px 10px grey;
	
}
#img22{
    width: 40%;
	position: absolute;
	z-index: 3;
	left: 55%;
	margin-top: 15%;
}
#img32{
     width: 60%;
	position: absolute;
	z-index: 2;
	left: 25%;
	margin-top: 70%;
}*/
/* line 143, ../../sass/partials/row2.scss */
#imageoverlay {
  margin-left: 0%;
  padding-right: -10%;
  margin-bottom: 3em;
}

/* line 149, ../../sass/partials/row2.scss */
#row2container {
  margin-left: 0%;
  margin-bottom: 2em;
}

/* line 154, ../../sass/partials/row2.scss */
#img12 {
  width: 67%;
  position: relative;
  z-index: 0;
  left: 0%;
  top: 0;
  border-left: 1px solid black;
  box-shadow: 0px 0px 10px grey;
  outline: 3px solid white;
  outline-offset: -20px;
}

/* line 165, ../../sass/partials/row2.scss */
#img22 {
  width: 49%;
  position: relative;
  z-index: 3;
  left: 51%;
  margin-top: -135%;
}

/* line 172, ../../sass/partials/row2.scss */
#img32 {
  width: 70%;
  position: relative;
  z-index: 2;
  left: 20%;
  margin-top: -30%;
}

/* line 179, ../../sass/partials/row2.scss */
.heading {
  font-family: "Maratre";
  font-size: 4em;
  padding-top: 0px;
  text-align: center;
}

/* line 185, ../../sass/partials/row2.scss */
.details {
  font-family: "Great Vibes", cursive;
  font-size: 1.4em;
  padding-top: 36px;
  text-align: justify;
  text-justify: inter-word;
  color: #999999;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 3em;
}

/* line 201, ../../sass/partials/row2.scss */
.large {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 30%;
  margin-left: 35%;
  margin-top: -1.8em;
}

/* line 213, ../../sass/partials/row2.scss */
.small {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 60%;
  margin-left: 20%;
  margin-top: -2.30em;
}

/* line 225, ../../sass/partials/row2.scss */
.heading#head1::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 200px;
  margin-top: 81px;
}
