/* line 1, ../../sass/partials/row6.scss */
#row6 {
  overflow-y: hidden;
  overflow-x: hidden;
  /*padding-left: 7%;*/
  margin-bottom: 100px;
  background-image: url("../images/pexels-photo-613056-min.jpg");
  background-size: cover;
}

/* line 15, ../../sass/partials/row6.scss */
.ellipse {
  width: 100%;
  text-align: center;
  height: 355px;
  position: relative;
  z-index: 0;
  top: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: 32px;
  margin-left: -2px;
}

/* line 28, ../../sass/partials/row6.scss */
.text1row6 {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  width: 85;
  margin-left: 5%;
  font-family: Maratre;
  color: #ff9797;
  font-size: 48px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
}

/* line 41, ../../sass/partials/row6.scss */
.text2row6 {
  position: absolute;
  z-index: 2;
  margin-top: 90px;
  width: 65%;
  margin-left: 5%;
  font-family: 'Great Vibes', cursive;
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 28px;
}

/* line 54, ../../sass/partials/row6.scss */
.logorow6 {
  position: absolute;
  z-index: 1;
  height: 130px;
  width: 150px;
  margin-top: 100px;
  margin-left: 15%;
}

/* line 62, ../../sass/partials/row6.scss */
.carousel-indicators#second-sleek {
  position: absolute;
  bottom: 23em;
  z-index: 15;
  width: 60px;
  list-style: none;
  text-align: center;
}

/* line 70, ../../sass/partials/row6.scss */
#profile {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  margin-left: 30%;
  margin-top: 20px;
}

/* line 77, ../../sass/partials/row6.scss */
.cards {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 1.3em;
  /*padding-right: 10px;*/
  margin-top: 0px;
  position: relative;
  z-index: 0;
  padding-right: 2px;
  padding-top: 25px;
}

/* line 92, ../../sass/partials/row6.scss */
.container#row6 {
  margin: 0;
}

/* line 97, ../../sass/partials/row6.scss */
.carousel-indicators#secondsleek li {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  /*margin-bottom: 10px; */
  border: 1px solid #ffffff;
}

/* line 109, ../../sass/partials/row6.scss */
.container#testimonials {
  border: 1px solid black;
}

/* line 112, ../../sass/partials/row6.scss */
.bar {
  position: absolute;
  left: 49.5%;
  top: 33%;
  z-index: 2;
}

/* line 118, ../../sass/partials/row6.scss */
.dot {
  position: relative;
  left: 48.5%;
  top: 53%;
  z-index: 3;
}

/* line 125, ../../sass/partials/row6.scss */
.slick-dots li button {
  border: 2px solid white;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 2px;
}

/* line 133, ../../sass/partials/row6.scss */
.slick-dots li button:before {
  color: transparent;
  margin-bottom: 10px;
}

/* line 142, ../../sass/partials/row6.scss */
address {
  margin-bottom: 20px;
}

/* line 145, ../../sass/partials/row6.scss */
.slick-dots li.slick-active button:before {
  position: absolute;
  font-size: 12px;
  color: white;
}

/* line 160, ../../sass/partials/row6.scss */
.padding-0 {
  padding-right: 3px;
  padding-left: 3px;
}

/* line 166, ../../sass/partials/row6.scss */
.padding-3 {
  padding-bottom: 6px;
}

/* line 170, ../../sass/partials/row6.scss */
.padding-1 {
  padding-top: 6px;
}

/* line 173, ../../sass/partials/row6.scss */
.border2 {
  border: 2px solid grey;
  position: absolute;
  z-index: 1;
  height: 575px;
  width: 95%;
  margin-left: 6.2px;
  margin-top: 6px;
}

/* line 193, ../../sass/partials/row6.scss */
.heading#head3::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 180px;
  margin-top: 81px;
}

/* line 209, ../../sass/partials/row6.scss */
.about-hidden {
  top: 12em;
}

/* line 212, ../../sass/partials/row6.scss */
.col-md-6#about-hidden {
  top: -14em;
  right: 0em;
  left: 0em;
}

/* line 217, ../../sass/partials/row6.scss */
.details-hidden {
  font-family: "Great Vibes", cursive;
  margin-left: 9em;
  margin-right: 12em;
  text-align: justify;
}
