.opaque{
	background-color: #000000;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.no-gutters{
  margin-left: -3%;
}

.row#row7{
	position: relative;
	z-index: 1;
	background: url("../images/pexels-photo-265728-min.jpg") no-repeat;
	background-size: cover;
	color: white;
}

.logo3{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: auto;
    padding-top: 40%;
    margin-bottom: auto;
   
	text-align: center;
}
.text1row7{
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 45px;
	line-height: 72px;
	font-family: 'Great Vibes',cursive;
	text-align: center;
}

.text1row71{
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	font-family: 'Great Vibes',cursive;
	margin-left: 10px;
}


.text1row72{
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	font-family: 'Great Vibes',cursive;
	text-align: center;
   
}
.text2row71{
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	font-family: 'Great Vibes',cursive;
	margin-left: 10px;
 }
.circle{
	border-radius: 50%;
	font-size: 150%;
	margin-top: -1em;
	text-align: center;
}
.social{
	text-align: center;
}

	
.fa-twitter{
	background: white;
	color: black;
  	padding: 0.23em 0.26em;
  	margin-left:  5%;
	}
.fa-google{
	color: black;
  	background: white;
  	padding: 0.26em 0.43em;
  	margin-left:  5%;
}  
.fa-pinterest-p{
	color: black;
	background: white;
	padding: 0.27em 0.39em;
	margin-left:  5%;
}
.fa-facebook{
	background: white;
	color: black;
	padding: 0.23em 0.42em;
}
.fa-instagram{
	background: white;
	color: black;
  	padding: 0.28em 0.36em;
  	margin-left:  5%;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(60deg);
}

input{
	font-family: 'Great Vibes',cursive;
	border-radius: 4px;
    background-color:  rgba(255, 255, 255, 0.95);
	width: 470px;
	height: 44px;
	color:  #6c6c6c;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 72px;/* Approximation due to font substitution */
	margin-bottom: 13px;
}
textarea{
	font-family: 'Great Vibes',cursive;
	border-radius: 4px;
	background-color:  rgba(255, 255, 255, 0.95);
	color:  #6c6c6c;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 72px;/* Approximation due to font substitution */
	margin-bottom: 13px;
}
.btn-danger{
	float: right;
	font-family: 'Great Vibes',cursive;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400px;
	/* Approximation due to font substitution */
	padding: 5px 20px;
   	i{
   		float: left;
   		margin-right: 15px;
   	}
  	span{
    	float: left;
  	}
}
footer{
	font-family: 'Great Vibes',cursive;
	color:  #ffffff;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 32px;/* Approximation due to font substitution */
	text-align: center;
}
.row#row8{
	margin-top: 6%;
	width: 100%;
}

/*.text1row7{
	
	font-size: 2em;
	
	font-family: 'Great Vibes',cursive;
	text-align: center;
}

.text1row71{
	font-size: 2em;
	
	text-align: left;
	font-family: 'Great Vibes',cursive;

}


.text1row72{
	font-size: 2em;
	
	font-family: 'Great Vibes',cursive;
	text-align: center;
	margin-right: 17%;
}
.text2row71{
	font-size: 2em;
	
	text-align: left;
	font-family: 'Great Vibes',cursive;
	
 }*/
 .container#footer{
 	position: relative;
 }