@font-face {
  font-family: "Maratre";
  src: url('/momentque/fonts/Maratre.otf?1517220125') format('opentype'), url('/momentque/fonts/Maratre.ttf?1517220125') format('truetype'), url('/momentque/fonts/maratre.eot?1517220125') format('embedded-opentype'), url('/momentque/fonts/maratre.woff?1517220125') format('woff'), url('/momentque/fonts/maratre.woff2?1517220125') format('woff2');
}
/* line 1, ../sass/partials/_base.scss */
.row1 {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 5, ../sass/partials/_base.scss */
#row1container {
  margin: 0 auto;
}

/* line 8, ../sass/partials/_base.scss */
.carousel-indicators#firstsleek {
    /*position: absolute;
	bottom: 23em;
	z-index: 15;
	width: 60px;
	margin-left: 20px;
	list-style: none;
	text-align: center;
    left:90%;*/
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  top: 34%;
  left: 78%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  max-height: 100px;
}

/* line 31, ../sass/partials/_base.scss */
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
}

/* line 41, ../sass/partials/_base.scss */
.container-fluid#MainContainer {
  overflow-y: hidden;
  overflow-x: hidden;
  /*padding-right: 1px;
  padding-left: 1px;
  margin-right: 0;
  margin-left: 0;
  overflow-x: hidden;
  padding-top: 0px;*/
  padding-left: 0;
  padding-right: 0;
}

/* line 53, ../sass/partials/_base.scss */
.carousel-item img {
  width: 100%;
}

/* line 56, ../sass/partials/_base.scss */
.carousel {
  position: relative;
  z-index: 1;
  margin-bottom: 5em;
}

/* line 62, ../sass/partials/_base.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  font-family: 'Great Vibes', cursive;
  font-size: 1.9em;
  color: white;
  top: 3.5%;
}

/*.navbar-expand-lg{
	position: absolute;
	z-index: 2;
	
    font-family: 'Great Vibes', cursive;
    font-size: 1.9em;
    color: white;
    top: 3.5%;
}*/
/* line 85, ../sass/partials/_base.scss */
.navbar-expand-lg .navbar-nav > li > a {
  color: white;
  margin-bottom: 0px;
  margin-right: 40px;
  font-weight: bold;
}

/* line 94, ../sass/partials/_base.scss */
.navbar-dark {
  text-decoration: none;
}

/* line 99, ../sass/partials/_base.scss */
.navbar .navbar-brand {
  font-size: 0.8em;
}

/* line 105, ../sass/partials/_base.scss */
.navbar-nav li a {
  position: relative;
  text-align: center;
}

/* line 109, ../sass/partials/_base.scss */
.navbar-nav li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background: white;
  height: 1px;
}

/* line 121, ../sass/partials/_base.scss */
.navbar-nav li a:hover:after {
  width: 100%;
  width: 0%;
  content: ' ';
  color: transparent;
  background: white;
}

/* line 129, ../sass/partials/_base.scss */
.navbar .navbar-nav > .active > a {
  background-color: transparent;
  padding-bottom: 0.2em;
  border-bottom: 0.15em solid #FFF;
}

/* line 140, ../sass/partials/_base.scss */
#logo {
  position: absolute;
  z-index: 20;
  top: 20%;
  left: 0%;
}

/* line 149, ../sass/partials/_base.scss */
#overlay-wrapper:after {
  position: absolute;
  content: " ";
  background: url("../images/Vector_min.png") no-repeat;
  background-size: 30px 30px;
  width: 100px;
  height: 100px;
  left: 48.8%;
  margin-top: -18px;
}

/* line 163, ../sass/partials/_base.scss */
.bordervector {
  border-bottom: 2px solid white;
  position: relative;
  z-index: -1;
  width: 22%;
  left: 39%;
  padding-top: 7.3%;
  display: block;
}

/* line 173, ../sass/partials/_base.scss */
img#logo1 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 12%;
}

/* line 184, ../sass/partials/_base.scss */
#overlay-wrapper {
    /*position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right: 0;

    background-color: rgba(0, 0, 0, .75);*/
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

/*.row#row2
{
	padding-bottom: 0px;

}
.col-lg-7#imageoverlay{
          max-height: 720px;
          overflow-y: hidden;
          overflow-x: hidden;
          
}
#img12{
width: 67%;  
	height: 578px;
	position: relative;
    z-index: 0;
    margin-left: 5%;
    border-left: 1px solid black;
	box-shadow: 0px 0px 10px grey;
	
}
#img22{
    width: 40%;
	height: 195px;
	position: relative;
	z-index: 52;
	margin-left:52%;
	top:-480px;
	

}
#img32{
	width: 60%;
	height: 252px;
	position: relative;
	z-index: 1;
	margin-left: 26%;
	top: -364px;
	margin-bottom: -120px;

}
.border1{
	width: 63%;
	height: 539px;
	position: relative;
	z-index: 50;
    margin-top: -556px;

    margin-left:6.5%;
    
	border: 4px solid white;
	

}
.heading#head1::before{
	border-bottom: 2px solid black;
	position: absolute;
	content: "";
	width: 200px;
	margin-top: 81px;

}
.large {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    
    position: relative;
    padding: 0;
    width: 30%;
    margin-left: 35%;
   margin-top: -1.8em;

}
.small {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    
    position: relative;
    padding: 0;
    width: 60%;
    margin-left: 20%;
   margin-top: -2.30em;

}
.details{
	font-family: "Great Vibes", cursive;
	font-size: 1.4em;
	padding-top: 36px;

	margin-left: 70px;
	margin-right: 2em;
	text-align: justify;
    text-justify: inter-word;
    color: $DarkGrey;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 60px;
	
}
.heading{
	font-family: "Maratre";
	font-size: 4em;
	padding-top: 0px;
	text-align: center;
}
*/
/*.row#row2{
	
}
.container#row2container{
	

}
#img12{
    width: 67%;  
	position: absolute;
    z-index: 0;
    left: 4%;
    border-left: 1px solid black;
	box-shadow: 0px 0px 10px grey;
	
}
#img22{
    width: 40%;
	position: absolute;
	z-index: 3;
	left: 55%;
	margin-top: 15%;
}
#img32{
     width: 60%;
	position: absolute;
	z-index: 2;
	left: 25%;
	margin-top: 70%;
}*/
/* line 143, ../sass/partials/row2.scss */
#imageoverlay {
  margin-left: 0%;
  padding-right: -10%;
  margin-bottom: 3em;
}

/* line 149, ../sass/partials/row2.scss */
#row2container {
  margin-left: 0%;
  margin-bottom: 2em;
}

/* line 154, ../sass/partials/row2.scss */
#img12 {
  width: 67%;
  position: relative;
  z-index: 0;
  left: 0%;
  top: 0;
  border-left: 1px solid black;
  box-shadow: 0px 0px 10px grey;
  outline: 3px solid white;
  outline-offset: -20px;
}

/* line 165, ../sass/partials/row2.scss */
#img22 {
  width: 49%;
  position: relative;
  z-index: 3;
  left: 51%;
  margin-top: -135%;
}

/* line 172, ../sass/partials/row2.scss */
#img32 {
  width: 70%;
  position: relative;
  z-index: 2;
  left: 20%;
  margin-top: -30%;
}

/* line 179, ../sass/partials/row2.scss */
.heading {
  font-family: "Maratre";
  font-size: 4em;
  padding-top: 0px;
  text-align: center;
}

/* line 185, ../sass/partials/row2.scss */
.details {
  font-family: "Great Vibes", cursive;
  font-size: 1.4em;
  padding-top: 36px;
  text-align: justify;
  text-justify: inter-word;
  color: #999999;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 3em;
}

/* line 201, ../sass/partials/row2.scss */
.large {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 30%;
  margin-left: 35%;
  margin-top: -1.8em;
}

/* line 213, ../sass/partials/row2.scss */
.small {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 60%;
  margin-left: 20%;
  margin-top: -2.30em;
}

/* line 225, ../sass/partials/row2.scss */
.heading#head1::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 200px;
  margin-top: 81px;
}

/* line 1, ../sass/partials/row3.scss */
.heading#head2::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 150px;
  margin-top: 81px;
}

/* line 8, ../sass/partials/row3.scss */
.row#row5 {
  margin-top: 3.2em;
  margin-bottom: 3.2em;
}

/* Row4-----------------------------------------------------*/
/* line 14, ../sass/partials/row3.scss */
.row#row4 {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 4em;
}

/* line 21, ../sass/partials/row3.scss */
.container#imagegallery {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 27, ../sass/partials/row3.scss */
#img41 {
  width: 100%;
  outline: 1px solid white;
  outline-offset: -10px;
}

/* line 33, ../sass/partials/row3.scss */
#img42 {
  width: 100%;
}

/* line 36, ../sass/partials/row3.scss */
#img43 {
  width: 100%;
}

/* line 39, ../sass/partials/row3.scss */
#img44 {
  width: 100%;
}

/* line 42, ../sass/partials/row3.scss */
#img45 {
  width: 100%;
}

/* line 45, ../sass/partials/row3.scss */
.imagequote {
  border: 1px solid grey;
  width: 100%;
  height: 187px;
  margin-top: 6px;
  font-family: Maratre;
  font-size: 4.4em;
  text-align: center;
  line-height: 0.9em;
  font-weight: normal;
  padding-top: 40px;
  margin-bottom: 6px;
}

/* line 60, ../sass/partials/row3.scss */
.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-color: transparent;
  fill: none;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

/* line 74, ../sass/partials/row3.scss */
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
/* line 3, ../sass/partials/loader.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/partials/loader.scss */
.parent {
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* line 22, ../sass/partials/loader.scss */
.hearts {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: linear-gradient(to bottom, #e53038, #d32930);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  animation: beat 1.5s ease 0s infinite;
}
/* line 38, ../sass/partials/loader.scss */
.hearts span {
  font-size: 22pt;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}
/* line 45, ../sass/partials/loader.scss */
.hearts:before, .hearts:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E53038;
  opacity: 0.4;
  border-radius: inherit;
}
/* line 59, ../sass/partials/loader.scss */
.hearts:before {
  z-index: -2;
  animation: beat-before 1.5s ease 100ms infinite;
}
/* line 64, ../sass/partials/loader.scss */
.hearts:after {
  z-index: -1;
  animation: beat-after 1.5s ease 200ms infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes beat-before {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
@keyframes beat-after {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
/* line 1, ../sass/partials/hovereffect.scss */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

/* line 15, ../sass/partials/hovereffect.scss */
.img1:hover #img41 {
  opacity: 0.7;
}
/* line 18, ../sass/partials/hovereffect.scss */
.img1:hover .overlay {
  height: 35%;
}

/* line 26, ../sass/partials/hovereffect.scss */
.img2:hover #img42 {
  opacity: 0.7;
}
/* line 29, ../sass/partials/hovereffect.scss */
.img2:hover .overlay {
  height: 35%;
}

/* line 36, ../sass/partials/hovereffect.scss */
.img3:hover #img43 {
  opacity: 0.7;
}
/* line 39, ../sass/partials/hovereffect.scss */
.img3:hover .overlay {
  height: 35%;
}

/* line 46, ../sass/partials/hovereffect.scss */
.img4:hover #img44 {
  opacity: 0.7;
}
/* line 49, ../sass/partials/hovereffect.scss */
.img4:hover .overlay {
  height: 35%;
}

/* line 56, ../sass/partials/hovereffect.scss */
.img5:hover #img45 {
  opacity: 0.7;
}
/* line 59, ../sass/partials/hovereffect.scss */
.img5:hover .overlay {
  height: 35%;
}

/* line 64, ../sass/partials/hovereffect.scss */
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* line 8, ../sass/partials/collapse.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 80%;
  max-width: 300px;
  right: 5%;
  top: 30px;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  background: white;
  visibility: hidden;
  background-color: #1c1c1c;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% -200%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 40, ../sass/partials/collapse.scss */
#cd-nav ul li {
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 45, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 56, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible li:nth-child(1) {
  /* list items animation */
  -webkit-animation: cd-slide-in 0.2s;
  -moz-animation: cd-slide-in 0.2s;
  animation: cd-slide-in 0.2s;
}

/* line 62, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}

/* line 67, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}

/* line 72, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}

/* line 77, ../sass/partials/collapse.scss */
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s;
  -moz-animation: cd-slide-in 0.6s;
  animation: cd-slide-in 0.6s;
}

/* line 82, ../sass/partials/collapse.scss */
#cd-nav li a {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}

/* line 87, ../sass/partials/collapse.scss */
#cd-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 992px) {
  /* line 91, ../sass/partials/collapse.scss */
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
  }

  /* line 110, ../sass/partials/collapse.scss */
  #cd-nav li {
    display: inline-block;
  }

  /* line 113, ../sass/partials/collapse.scss */
  #cd-nav li a {
    opacity: 1;
    padding: .4em;
    margin-left: 1.6em;
    border-bottom: none;
  }

  /* line 119, ../sass/partials/collapse.scss */
  #cd-nav li a:hover {
    color: #00bd9b;
  }

  /* line 122, ../sass/partials/collapse.scss */
  #cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: white;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 138, ../sass/partials/collapse.scss */
  #cd-nav.is-fixed ul li {
    display: block;
  }

  /* line 141, ../sass/partials/collapse.scss */
  #cd-nav.is-fixed ul li a {
    padding: 1.6em;
    margin-left: 0;
    border-bottom: 1px solid #eff2f6;
  }

  /* line 146, ../sass/partials/collapse.scss */
  #cd-nav ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }

  /* line 152, ../sass/partials/collapse.scss */
  #cd-nav ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
  }

  /* line 164, ../sass/partials/collapse.scss */
  #cd-nav ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
}
/* line 177, ../sass/partials/collapse.scss */
.cd-nav-trigger {
  position: fixed;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

/* line 192, ../sass/partials/collapse.scss */
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e84a64;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 207, ../sass/partials/collapse.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}

/* line 226, ../sass/partials/collapse.scss */
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

/* line 234, ../sass/partials/collapse.scss */
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

/* line 242, ../sass/partials/collapse.scss */
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}

/* line 245, ../sass/partials/collapse.scss */
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}

/* line 248, ../sass/partials/collapse.scss */
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: #e84a64;
}

/* line 251, ../sass/partials/collapse.scss */
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 259, ../sass/partials/collapse.scss */
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0px);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }
  60% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 361, ../sass/partials/collapse.scss */
.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

/* line 368, ../sass/partials/collapse.scss */
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 6px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* line 384, ../sass/partials/collapse.scss */
.sidebar-nav li:nth-child(1):before {
  background-color: #ec1b5a;
}

/* line 387, ../sass/partials/collapse.scss */
.sidebar-nav li:nth-child(2):before {
  background-color: #79aefe;
}

/* line 390, ../sass/partials/collapse.scss */
.sidebar-nav li:nth-child(3):before {
  background-color: #314190;
}

/* line 393, ../sass/partials/collapse.scss */
.sidebar-nav li:nth-child(4):before {
  background-color: #279636;
}

/* line 396, ../sass/partials/collapse.scss */
.sidebar-nav li:nth-child(5):before {
  background-color: #7d5d81;
}

/* line 400, ../sass/partials/collapse.scss */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* line 410, ../sass/partials/collapse.scss */
.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

/* line 417, ../sass/partials/collapse.scss */
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

/*@font-face {
  font-family: "Maratre";
  src: url('Maratre.otf') format('opentype'), 
  url('Maratre.ttf') format('truetype'),
  url('maratre.eot') format('embedded-opentype');
}*/
@media (min-width: 992px) {
  /* line 21, ../sass/styles.scss */
  .carousel-item.active-next {
    display: flex;
  }
}
/* line 28, ../sass/styles.scss */
h1 {
  font-family: "Maratre";
}

/*.col-md-7{

	
	padding-bottom: 0;
	
	max-height: 760px;

}*/
/* line 1, ../sass/partials/row6.scss */
#row6 {
  overflow-y: hidden;
  overflow-x: hidden;
  /*padding-left: 7%;*/
  margin-bottom: 100px;
  background-image: url("../images/pexels-photo-613056-min.jpg");
  background-size: cover;
}

/* line 15, ../sass/partials/row6.scss */
.ellipse {
  width: 100%;
  text-align: center;
  height: 355px;
  position: relative;
  z-index: 0;
  top: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -2px;
}

/* line 28, ../sass/partials/row6.scss */
.text1row6 {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  width: 85;
  margin-left: 5%;
  font-family: Maratre;
  color: #ff9797;
  font-size: 48px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
}

/* line 41, ../sass/partials/row6.scss */
.text2row6 {
  position: absolute;
  z-index: 2;
  margin-top: 90px;
  width: 65%;
  margin-left: 5%;
  font-family: 'Great Vibes', cursive;
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 28px;
}

/* line 54, ../sass/partials/row6.scss */
.logorow6 {
  position: absolute;
  z-index: 1;
  height: 130px;
  width: 150px;
  margin-top: 100px;
  margin-left: 15%;
}

/* line 62, ../sass/partials/row6.scss */
.carousel-indicators#second-sleek {
  position: absolute;
  bottom: 23em;
  z-index: 15;
  width: 60px;
  list-style: none;
  text-align: center;
}

/* line 70, ../sass/partials/row6.scss */
#profile {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  margin-left: 30%;
  margin-top: 10px;
}

/* line 77, ../sass/partials/row6.scss */
.cards {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 1.3em;
  /*padding-right: 10px;*/
  margin-top: 0px;
  position: relative;
  z-index: 0;
  padding-top: 25px;
}

/* line 91, ../sass/partials/row6.scss */
.container#row6 {
  margin: 0;
}

/* line 96, ../sass/partials/row6.scss */
.carousel-indicators#secondsleek li {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  /*margin-bottom: 10px; */
  border: 1px solid #ffffff;
}

/* line 108, ../sass/partials/row6.scss */
.container#testimonials {
  border: 1px solid black;
}

/* line 111, ../sass/partials/row6.scss */
.bar {
  position: absolute;
  left: 49%;
  top: 20%;
  z-index: 2;
}

/* line 117, ../sass/partials/row6.scss */
.dot {
  position: relative;
  left: 48.2%;
  top: 40%;
  z-index: 3;
}

/* line 124, ../sass/partials/row6.scss */
.btn-danger:before {
  content: "\f1d8     ";
}

/* line 137, ../sass/partials/row6.scss */
.padding-0 {
  padding-right: 3px;
  padding-left: 3px;
}

/* line 143, ../sass/partials/row6.scss */
.padding-3 {
  padding-bottom: 6px;
}

/* line 147, ../sass/partials/row6.scss */
.padding-1 {
  padding-top: 6px;
}

/* line 150, ../sass/partials/row6.scss */
.border2 {
  border: 2px solid grey;
  position: absolute;
  z-index: 1;
  height: 575px;
  width: 95%;
  margin-left: 6.2px;
  margin-top: 6px;
}

/* line 170, ../sass/partials/row6.scss */
.heading#head3::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 180px;
  margin-top: 81px;
}

/* line 186, ../sass/partials/row6.scss */
.about-hidden {
  top: 12em;
}

/* line 189, ../sass/partials/row6.scss */
.col-md-6#about-hidden {
  top: -14em;
  right: 0em;
  left: 0em;
}

/* line 194, ../sass/partials/row6.scss */
.details-hidden {
  font-family: "Great Vibes", cursive;
  margin-left: 9em;
  margin-right: 12em;
  text-align: justify;
}

/* line 1, ../sass/partials/row8.scss */
.opaque {
  background-color: #000000;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* line 10, ../sass/partials/row8.scss */
.no-gutters {
  margin-left: -3%;
}

/* line 14, ../sass/partials/row8.scss */
.row#row7 {
  position: relative;
  z-index: 1;
  background: url("../images/pexels-photo-265728-min.jpg") no-repeat;
  background-size: cover;
  color: white;
}

/* line 22, ../sass/partials/row8.scss */
.logo3 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  padding-top: 70%;
  margin-bottom: auto;
  text-align: center;
}

/* line 33, ../sass/partials/row8.scss */
.text1row7 {
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 38px;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  text-align: center;
}

/* line 43, ../sass/partials/row8.scss */
.text2row7 {
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 38px;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  text-align: center;
}

/* line 55, ../sass/partials/row8.scss */
.text1row71 {
  margin-right: auto;
  display: block;
  font-size: 24px;
  /*font-weight: 400;
  line-height: 30px;*/
  text-align: left;
  font-family: 'Great Vibes',cursive;
  margin-left: 10px;
}

/* line 68, ../sass/partials/row8.scss */
.text1row72 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 45px;
  font-weight: 400;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  text-align: center;
}

/* line 79, ../sass/partials/row8.scss */
.text2row71 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 24px;
  /*font-weight: 400;
  line-height: 30px;*/
  text-align: left;
  font-family: 'Great Vibes',cursive;
  /*margin-left: 10px;*/
}

/* line 90, ../sass/partials/row8.scss */
.circle {
  border-radius: 50%;
  font-size: 150%;
  margin-top: -1em;
  text-align: center;
}

/* line 96, ../sass/partials/row8.scss */
.social {
  text-align: center;
}

/* line 101, ../sass/partials/row8.scss */
.fa-twitter {
  background: white;
  color: black;
  padding: 0.23em 0.26em;
  margin-left: 5%;
}

/* line 107, ../sass/partials/row8.scss */
.fa-google {
  color: black;
  background: white;
  padding: 0.26em 0.43em;
  margin-left: 5%;
}

/* line 113, ../sass/partials/row8.scss */
.fa-pinterest-p {
  color: black;
  background: white;
  padding: 0.27em 0.39em;
  margin-left: 5%;
}

/* line 119, ../sass/partials/row8.scss */
.fa-facebook {
  background: white;
  color: black;
  padding: 0.23em 0.42em;
}

/* line 124, ../sass/partials/row8.scss */
.fa-instagram {
  background: white;
  color: black;
  padding: 0.28em 0.36em;
  margin-left: 5%;
}

/* line 130, ../sass/partials/row8.scss */
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(60deg);
}

/* line 138, ../sass/partials/row8.scss */
input {
  font-family: 'Great Vibes',cursive;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 470px;
  height: 44px;
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  margin-bottom: 13px;
}

/* line 150, ../sass/partials/row8.scss */
textarea {
  font-family: 'Great Vibes',cursive;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  margin-bottom: 13px;
}

/* line 160, ../sass/partials/row8.scss */
.btn-danger {
  float: right;
  font-family: 'Great Vibes',cursive;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400px;
  /* Approximation due to font substitution */
  padding: 5px 20px;
}
/* line 167, ../sass/partials/row8.scss */
.btn-danger i {
  float: left;
  margin-right: 15px;
}
/* line 171, ../sass/partials/row8.scss */
.btn-danger span {
  float: left;
}

/* line 175, ../sass/partials/row8.scss */
footer {
  font-family: 'Great Vibes',cursive;
  color: #ffffff;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 32px;
  /* Approximation due to font substitution */
  text-align: center;
}

/* line 183, ../sass/partials/row8.scss */
.foot {
  margin-top: 6%;
  width: 100%;
}

/*.text1row7{
	
	font-size: 2em;
	
	font-family: 'Great Vibes',cursive;
	text-align: center;
}

.text1row71{
	font-size: 2em;
	
	text-align: left;
	font-family: 'Great Vibes',cursive;

}


.text1row72{
	font-size: 2em;
	
	font-family: 'Great Vibes',cursive;
	text-align: center;
	margin-right: 17%;
}
.text2row71{
	font-size: 2em;
	
	text-align: left;
	font-family: 'Great Vibes',cursive;
	
 }*/
/* line 219, ../sass/partials/row8.scss */
.container#footer {
  position: relative;
}

/* line 222, ../sass/partials/row8.scss */
.label1 {
  width: 75px;
  float: left;
}

/* line 226, ../sass/partials/row8.scss */
.label2 {
  width: 69%;
  float: left;
}

@media (max-width: 767px) {
  /* line 7, ../sass/partials/media.scss */
  .carousel-indicators#firstsleek {
    top: 34%;
    left: 68%;
  }

  /* line 12, ../sass/partials/media.scss */
  .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  /* line 21, ../sass/partials/media.scss */
  #overlay-wrapper:after {
    background-size: 20px 20px;
  }

  /* line 25, ../sass/partials/media.scss */
  .bordervector {
    left: 40%;
  }

  /* line 29, ../sass/partials/media.scss */
  .btn-danger {
    float: none;
  }

  	/*.row#row7{
  
  		.logo3{
  			margin-left: 32%;
  			margin-top: 10%;
  		}
  		.text1row7{
  		   font-size: 40px;	
  		}
  		#row71{
             margin-left: 20px;
             text-align: justify-center;
  		}
  		.text1row72{
  			font-size: 40px;
  			text-align: center;
  			margin-right: 0%;
  		}
  		.circle{
  			font-size: 1.7em;
  			text-align: center;
  		}
  		.social{
  			text-align: center;
  			margin-left: 0%;
  			padding-left: 0;
  		}
  		form{
  			padding-left: 30px;
  			margin-right: 20px;
  
  		}
  		#row8{
  			margin-left: 1%;
  			margin-right: 1%;
  		}
  		.text1row71{
  			font-weight: bold;
  		}
  		button{
  			width: 40%;
  		}
  		.details{
  
  		}
  	}*/
}
@media (min-width: 992px) {
  /* line 85, ../sass/partials/media.scss */
  #img41 {
    width: 100%;
    height: 588px;
    outline: 1px solid white;
    outline-offset: -10px;
  }

  /* line 92, ../sass/partials/media.scss */
  #img42 {
    width: 100%;
    height: 196px;
  }

  /* line 96, ../sass/partials/media.scss */
  #img43 {
    width: 100%;
    height: 193px;
  }

  /* line 100, ../sass/partials/media.scss */
  #img44 {
    width: 100%;
    height: 196px;
  }

  /* line 104, ../sass/partials/media.scss */
  #img45 {
    width: 100%;
    height: 393px;
  }
}
@media (max-width: 992px) {
  /* line 117, ../sass/partials/media.scss */
  #overlay-wrapper:after {
    background-size: 25px 25px;
  }

  /* line 125, ../sass/partials/media.scss */
  .row#row7 .logo3 {
    width: 60%;
    padding-top: 8%;
  }
  /* line 129, ../sass/partials/media.scss */
  .row#row7 .text1row7 {
    font-size: 45px;
  }
  /* line 132, ../sass/partials/media.scss */
  .row#row7 #row71 {
    text-align: justify-center;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  /* line 145, ../sass/partials/media.scss */
  #img41 {
    width: 100%;
    height: 304px;
    outline: 1px solid white;
    outline-offset: -10px;
    position: relative;
  }

  /* line 152, ../sass/partials/media.scss */
  #img42 {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    position: relative;
  }

  /* line 158, ../sass/partials/media.scss */
  #img43 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 164, ../sass/partials/media.scss */
  #img44 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 169, ../sass/partials/media.scss */
  #img45 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 175, ../sass/partials/media.scss */
  .imagequote {
    border: 1px solid black;
    font-size: 3.8em;
    padding-top: 30px;
    position: absolute;
    z-index: 5;
    top: 369px;
    width: 450px;
    height: 113px;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  /* line 195, ../sass/partials/media.scss */
  .text2row7 {
    font-size: 38px;
  }

  /* line 199, ../sass/partials/media.scss */
  .label1 {
    padding-left: 5px;
    padding-right: 7px;
  }

  /* line 203, ../sass/partials/media.scss */
  .label2 {
    padding-right: 0.8px;
  }

  /* line 206, ../sass/partials/media.scss */
  #secondsleek {
    margin-top: 3em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -40px;
  }
}
/*Extra-----------------*/
