@font-face {
  font-family: "Maratre";
  src: url('/momentque/fonts/Maratre.otf?1517220125') format('opentype'), url('/momentque/fonts/Maratre.ttf?1517220125') format('truetype'), url('/momentque/fonts/maratre.eot?1517220125') format('embedded-opentype'), url('/momentque/fonts/maratre.woff?1517220125') format('woff'), url('/momentque/fonts/maratre.woff2?1517220125') format('woff2');
}
@font-face {
  font-family: "Great Vibes";
  src: url('/momentque/fonts/GreatVibesRegular.woff2?1519030290') format('woff2'), url('/momentque/fonts/GreatVibesRegular.otf?1518560932') format('opentype'), url('/momentque/fonts/GreatVibesRegular.ttf?1455082352') format('truetype');
}
/* line 1, ../sass/partials/hovereffect.scss */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

/* line 15, ../sass/partials/hovereffect.scss */
.img1:hover #img41 {
  opacity: 0.7;
}
/* line 18, ../sass/partials/hovereffect.scss */
.img1:hover .overlay {
  height: 35%;
}

/* line 26, ../sass/partials/hovereffect.scss */
.img2:hover #img42 {
  opacity: 0.7;
}
/* line 29, ../sass/partials/hovereffect.scss */
.img2:hover .overlay {
  height: 35%;
}

/* line 36, ../sass/partials/hovereffect.scss */
.img3:hover #img43 {
  opacity: 0.7;
}
/* line 39, ../sass/partials/hovereffect.scss */
.img3:hover .overlay {
  height: 35%;
}

/* line 46, ../sass/partials/hovereffect.scss */
.img4:hover #img44 {
  opacity: 0.7;
}
/* line 49, ../sass/partials/hovereffect.scss */
.img4:hover .overlay {
  height: 35%;
}

/* line 56, ../sass/partials/hovereffect.scss */
.img5:hover #img45 {
  opacity: 0.7;
}
/* line 59, ../sass/partials/hovereffect.scss */
.img5:hover .overlay {
  height: 35%;
}

/* line 64, ../sass/partials/hovereffect.scss */
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*First Row Line no:- 24-172
/*second Row About us:- 176-263
/*Third row Portfolio : 266-326*/
/* line 9, ../sass/styles.scss */
.demos a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

/* line 23, ../sass/styles.scss */
.demos a:hover {
  opacity: .5;
}

/* line 26, ../sass/styles.scss */
#section10 a {
  padding-top: 60px;
}

/* line 29, ../sass/styles.scss */
#section10 a span {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

/* line 40, ../sass/styles.scss */
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 89, ../sass/styles.scss */
.social i {
  margin: .3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}

/* line 95, ../sass/styles.scss */
.social i:hover {
  margin-top: -1px;
}

/* line 98, ../sass/styles.scss */
.social i.fa-twitter:hover {
  color: #3cf;
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

/* line 105, ../sass/styles.scss */
.social i.fa-pinterest-p:hover {
  color: #cc2127;
}

/* line 109, ../sass/styles.scss */
.social i.fa-instagram:hover {
  color: #3f729b;
}

/* line 114, ../sass/styles.scss */
.social i.fa-facebook:hover {
  color: #3b5998;
}

/* line 118, ../sass/styles.scss */
.social i.fa-google:hover {
  color: #dc4a38;
}

/* line 125, ../sass/styles.scss */
.grid a {
  color: #333;
}

/* line 130, ../sass/styles.scss */
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
}

/* line 136, ../sass/styles.scss */
.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

/* line 143, ../sass/styles.scss */
.grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Great vibes';
}

/* line 153, ../sass/styles.scss */
.grid figcaption h2 {
  margin: 0px 0 10px 0;
  color: white;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 190%;
  transition: transform 0.3s;
}

/* line 163, ../sass/styles.scss */
.grid figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  transition: opacity 0.3s, transform 0.3s;
}

/* line 170, ../sass/styles.scss */
.grid figcaption h2,
.grid figcaption p {
  transform: translateY(50px);
}

/* line 174, ../sass/styles.scss */
.grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
  transition: opacity 0.3s, transform 0.3s;
}

/* line 183, ../sass/styles.scss */
.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  backface-visibility: hidden;
}

/* line 189, ../sass/styles.scss */
.grid svg {
  position: absolute;
  top: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* line 196, ../sass/styles.scss */
.grid svg path {
  fill: #fff;
  fill-opacity: 0.3;
}

/* line 200, ../sass/styles.scss */
.grid a:hover figure img {
  opacity: 1;
}

/* line 204, ../sass/styles.scss */
.grid a:hover figcaption h2,
.grid a:hover figcaption p {
  transform: translateY(0);
}

/* line 209, ../sass/styles.scss */
.grid a:hover figcaption p {
  opacity: 0;
}

/* line 212, ../sass/styles.scss */
.grid figure button {
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%) scale(0.25);
}

/* line 222, ../sass/styles.scss */
.grid a:hover figure button {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1);
}

/* Loader---------------------------------------------------------------------------------------------------*/
/* line 228, ../sass/styles.scss */
h1 {
  font-family: "Maratre";
}

/* line 232, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 237, ../sass/styles.scss */
.parent {
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* line 248, ../sass/styles.scss */
.hearts {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: linear-gradient(to bottom, #e53038, #d32930);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  animation: beat 1.5s ease 0s infinite;
}
/* line 260, ../sass/styles.scss */
.hearts span {
  font-size: 22pt;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}
/* line 266, ../sass/styles.scss */
.hearts:before, .hearts:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E53038;
  opacity: 0.4;
  border-radius: inherit;
}
/* line 278, ../sass/styles.scss */
.hearts:before {
  z-index: -2;
  animation: beat-before 1.5s ease 100ms infinite;
}
/* line 283, ../sass/styles.scss */
.hearts:after {
  z-index: -1;
  animation: beat-after 1.5s ease 200ms infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes beat-before {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
@keyframes beat-after {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
/*Menu collapse---------------------------------------------------------------------------------------------*/
/* line 327, ../sass/styles.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 80%;
  max-width: 300px;
  right: 5%;
  top: 30px;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  background: white;
  visibility: hidden;
  background-color: #1c1c1c;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% -200%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 360, ../sass/styles.scss */
#cd-nav ul li {
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 366, ../sass/styles.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 378, ../sass/styles.scss */
#cd-nav ul.is-visible li:nth-child(1) {
  /* list items animation */
  -webkit-animation: cd-slide-in 0.2s;
  -moz-animation: cd-slide-in 0.2s;
  animation: cd-slide-in 0.2s;
}

/* line 385, ../sass/styles.scss */
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}

/* line 390, ../sass/styles.scss */
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}

/* line 396, ../sass/styles.scss */
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}

/* line 402, ../sass/styles.scss */
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s;
  -moz-animation: cd-slide-in 0.6s;
  animation: cd-slide-in 0.6s;
}

/* line 408, ../sass/styles.scss */
#cd-nav li a {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}

/* line 414, ../sass/styles.scss */
#cd-nav li:last-child a {
  border-bottom: none;
}

/* line 418, ../sass/styles.scss */
.cd-nav-trigger {
  position: fixed;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

/* line 433, ../sass/styles.scss */
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e84a64;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 449, ../sass/styles.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}

/* line 469, ../sass/styles.scss */
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

/* line 478, ../sass/styles.scss */
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

/* line 487, ../sass/styles.scss */
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}

/* line 491, ../sass/styles.scss */
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}

/* line 495, ../sass/styles.scss */
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: #e84a64;
}

/* line 499, ../sass/styles.scss */
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 508, ../sass/styles.scss */
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0px);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }
  60% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 620, ../sass/styles.scss */
.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

/* line 627, ../sass/styles.scss */
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 6px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* line 643, ../sass/styles.scss */
.sidebar-nav li:nth-child(1):before {
  background-color: #ec1b5a;
}

/* line 646, ../sass/styles.scss */
.sidebar-nav li:nth-child(2):before {
  background-color: #79aefe;
}

/* line 649, ../sass/styles.scss */
.sidebar-nav li:nth-child(3):before {
  background-color: #314190;
}

/* line 652, ../sass/styles.scss */
.sidebar-nav li:nth-child(4):before {
  background-color: #279636;
}

/* line 655, ../sass/styles.scss */
.sidebar-nav li:nth-child(5):before {
  background-color: #7d5d81;
}

/* line 659, ../sass/styles.scss */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* line 669, ../sass/styles.scss */
.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

/* line 676, ../sass/styles.scss */
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

/*First Row with carousel and navbar -----------------------------------------------------------------------*/
/* line 687, ../sass/styles.scss */
.row1 {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 691, ../sass/styles.scss */
#row1container {
  margin: 0 auto;
}

/* line 694, ../sass/styles.scss */
.carousel-indicators#firstsleek {
  position: relative;
  float: right;
  margin-right: 19px;
  z-index: 15;
  margin-top: -25%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  max-height: 100px;
}

/* line 715, ../sass/styles.scss */
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
}

/* line 722, ../sass/styles.scss */
.container-fluid#MainContainer {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
}

/* line 728, ../sass/styles.scss */
.carousel-item img {
  width: 100%;
}

/* line 731, ../sass/styles.scss */
.carousel {
  position: relative;
  z-index: 1;
  margin-bottom: 5em;
}

/* line 737, ../sass/styles.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  font-family: 'Great Vibes', cursive;
  font-size: 1.9em;
  color: white;
  top: 3.5%;
}

/* line 749, ../sass/styles.scss */
.navbar-expand-lg .navbar-nav > li > a {
  color: white;
  margin-bottom: 0px;
  margin-right: 40px;
  font-weight: bold;
}

/* line 756, ../sass/styles.scss */
.navbar-dark {
  text-decoration: none;
}

/* line 759, ../sass/styles.scss */
.navbar .navbar-brand {
  font-size: 0.8em;
}

/* line 763, ../sass/styles.scss */
.navbar-nav li a {
  position: relative;
  text-align: center;
}

/* line 768, ../sass/styles.scss */
.navbar-nav li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background: white;
  height: 1px;
}

/* line 781, ../sass/styles.scss */
.navbar-nav li a:hover:after {
  width: 100%;
  width: 0%;
  content: ' ';
  color: transparent;
  background: white;
}

/* line 789, ../sass/styles.scss */
.navbar .navbar-nav > .active > a {
  background-color: transparent;
  padding-bottom: 0.2em;
  border-bottom: 0.15em solid #FFF;
}

/* line 795, ../sass/styles.scss */
#logo {
  position: absolute;
  z-index: 20;
  top: 20%;
  left: 0%;
}

/* line 802, ../sass/styles.scss */
#overlay-wrapper:after {
  position: absolute;
  content: " ";
  background: url("../images/Vector_min.png") no-repeat;
  background-size: 30px 30px;
  width: 100px;
  height: 100px;
  left: 48.8%;
  margin-top: -16px;
}

/* line 813, ../sass/styles.scss */
.bordervector {
  border-bottom: 2px solid white;
  position: relative;
  z-index: -1;
  width: 22%;
  left: 39%;
  padding-top: 7.3%;
  display: block;
}

/* line 823, ../sass/styles.scss */
img#logo1 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 12%;
}

/* line 833, ../sass/styles.scss */
#overlay-wrapper {
  position: absolute;
  top: 1%;
  margin-right: 2%;
  left: 0;
  right: 0;
  z-index: 10;
}

/*Second Row with overlay images and about section-------------------------------------------------*/
/* line 845, ../sass/styles.scss */
#imageoverlay {
  margin-left: 0%;
  padding-right: -10%;
  margin-bottom: 3em;
}

/* line 851, ../sass/styles.scss */
#row2container {
  margin-left: 0%;
  margin-bottom: 2em;
}

/* line 856, ../sass/styles.scss */
#img12 {
  width: 67%;
  position: relative;
  z-index: 0;
  left: 0%;
  top: 0;
  border-left: 1px solid black;
  box-shadow: 0px 0px 10px grey;
  outline: 3px solid white;
  outline-offset: -20px -10px;
}

/* line 868, ../sass/styles.scss */
#img22 {
  width: 49%;
  position: relative;
  z-index: 3;
  left: 51%;
  margin-top: -135%;
}

/* line 876, ../sass/styles.scss */
#img32 {
  width: 70%;
  position: relative;
  z-index: 2;
  left: 20%;
  margin-top: -30%;
}

/* line 884, ../sass/styles.scss */
.heading {
  font-family: "Maratre";
  font-size: 4em;
  padding-top: 0px;
  text-align: center;
}

/* line 891, ../sass/styles.scss */
.details {
  font-family: "Great Vibes", cursive;
  font-size: 1.4em;
  padding-top: 36px;
  text-align: justify;
  text-justify: inter-word;
  color: #999999;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 3em;
}

/* line 903, ../sass/styles.scss */
.large {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 30%;
  margin-left: 35%;
  margin-top: -30px;
}

/* line 914, ../sass/styles.scss */
.small {
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  position: relative;
  padding: 0;
  width: 60%;
  margin-left: 20%;
  margin-top: -30px;
}

/* line 925, ../sass/styles.scss */
.heading#head1::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 200px;
  margin-top: 81px;
}

/* Third row Portfolio image gallery ------------------------------------------------------------------*/
/* line 936, ../sass/styles.scss */
.heading#head2::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 150px;
  margin-top: 81px;
}

/* line 944, ../sass/styles.scss */
.row#row5 {
  margin-top: 3.2em;
  margin-bottom: 3.2em;
}

/* line 949, ../sass/styles.scss */
.row#row4 {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 4em;
}

/* line 955, ../sass/styles.scss */
.container#imagegallery {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 960, ../sass/styles.scss */
#img41 {
  width: 100%;
  outline: 1px solid white;
  outline-offset: -10px;
}

/* line 967, ../sass/styles.scss */
#img42 {
  width: 100%;
}

/* line 971, ../sass/styles.scss */
#img43 {
  width: 100%;
}

/* line 976, ../sass/styles.scss */
#img44 {
  width: 100%;
}

/* line 980, ../sass/styles.scss */
#img45 {
  width: 100%;
  margin-top: -15px;
}

/* line 985, ../sass/styles.scss */
.imagequote {
  border: 1px solid grey;
  width: 97.5%;
  height: 178px;
  margin-top: 6px;
  font-family: Maratre;
  font-size: 4.4em;
  text-align: center;
  line-height: 0.9em;
  font-weight: normal;
  padding-top: 28px;
  margin-bottom: 6px;
  margin-left: 5px;
}

/*Fourth Row Testimonials --------------------------------------------------------------------------*/
/* line 1003, ../sass/styles.scss */
.heading#head3::before {
  border-bottom: 2px solid black;
  position: absolute;
  content: "";
  width: 180px;
  margin-top: 81px;
}

/* line 1011, ../sass/styles.scss */
#row6 {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 100px;
  background-image: url("../images/pexels-photo-613056-min.jpg");
  background-size: cover;
}

/* line 1019, ../sass/styles.scss */
.ellipse {
  width: 100%;
  text-align: center;
  height: 355px;
  position: relative;
  z-index: 0;
  top: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: 32px;
  margin-left: -2px;
}

/* line 1032, ../sass/styles.scss */
.text1row6 {
  position: absolute;
  z-index: 1;
  margin-top: 27px;
  width: 85;
  margin-left: 5%;
  font-family: Maratre;
  color: #ff9797;
  font-size: 48px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
}

/* line 1045, ../sass/styles.scss */
.text2row6 {
  position: absolute;
  z-index: 2;
  margin-top: 103px;
  width: 65%;
  margin-left: 7%;
  font-family: 'Great Vibes', cursive;
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 28px;
}

/* line 1058, ../sass/styles.scss */
.logorow6 {
  position: absolute;
  z-index: 1;
  height: 130px;
  width: 150px;
  margin-top: 110px;
  margin-left: 18%;
}

/* line 1067, ../sass/styles.scss */
.carousel-indicators#second-sleek {
  position: absolute;
  bottom: 23em;
  z-index: 15;
  width: 60px;
  list-style: none;
  text-align: center;
}

/* line 1076, ../sass/styles.scss */
#profile {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  margin-left: 30%;
  margin-top: 20px;
}

/* line 1084, ../sass/styles.scss */
.cards {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0px;
  position: relative;
  z-index: 0;
  padding-right: 2px;
  padding-top: 25px;
}

/* line 1098, ../sass/styles.scss */
.container#row6 {
  margin: 0;
}

/* line 1102, ../sass/styles.scss */
.carousel-indicators#secondsleek li {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

/* line 1112, ../sass/styles.scss */
.container#testimonials {
  border: 1px solid black;
}

/* line 1115, ../sass/styles.scss */
.bar {
  position: absolute;
  left: 49.5%;
  top: 33%;
  z-index: 2;
}

/* line 1122, ../sass/styles.scss */
.dot {
  position: relative;
  left: 48.5%;
  top: 53%;
  z-index: 3;
}

/* line 1129, ../sass/styles.scss */
.slick-dots li button {
  border: 2px solid white;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 2px;
}

/* line 1137, ../sass/styles.scss */
.slick-dots li button:before {
  color: transparent;
  margin-bottom: 10px;
}

/* line 1142, ../sass/styles.scss */
address {
  margin-bottom: 20px;
}

/* line 1146, ../sass/styles.scss */
.slick-dots li.slick-active button:before {
  position: absolute;
  font-size: 12px;
  color: white;
}

/* line 1152, ../sass/styles.scss */
.padding-0 {
  padding-right: 3px;
  padding-left: 3px;
}

/* line 1157, ../sass/styles.scss */
.padding-3 {
  padding-bottom: 6px;
}

/* line 1161, ../sass/styles.scss */
.padding-1 {
  padding-top: 6px;
}

/* line 1165, ../sass/styles.scss */
.border2 {
  border: 2px solid grey;
  position: absolute;
  z-index: 1;
  height: 575px;
  width: 95%;
  margin-left: 6.2px;
  margin-top: 6px;
}

/* line 1175, ../sass/styles.scss */
.about-hidden {
  top: 12em;
}

/* line 1179, ../sass/styles.scss */
.col-md-6#about-hidden {
  top: -14em;
  right: 0em;
  left: 0em;
}

/* line 1185, ../sass/styles.scss */
.details-hidden {
  font-family: "Great Vibes", cursive;
  margin-left: 9em;
  margin-right: 12em;
  text-align: justify;
}

/*Footer --------------------------------------------------------------------------------------------------*/
/* line 1195, ../sass/styles.scss */
.opaque {
  background-color: #000000;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* line 1204, ../sass/styles.scss */
.no-gutters {
  margin-left: -3%;
}

/* line 1208, ../sass/styles.scss */
address {
  text-align: center;
  margin-bottom: 100px;
}

/* line 1213, ../sass/styles.scss */
.row#row7 {
  position: relative;
  z-index: 1;
  background: url("../images/pexels-photo-265728-min.jpg") no-repeat;
  background-size: cover;
  color: white;
}

/* line 1221, ../sass/styles.scss */
.logo3 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  padding-top: 55%;
  margin-bottom: auto;
  text-align: center;
}

/* line 1232, ../sass/styles.scss */
.text1row7 {
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 38px;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  text-align: center;
}

/* line 1243, ../sass/styles.scss */
.text2row7 {
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 38px;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  text-align: center;
}

/* line 1254, ../sass/styles.scss */
.text1row71 {
  margin-right: auto;
  display: block;
  font-size: 24px;
  text-align: left;
  font-family: 'Great Vibes',cursive;
  margin-left: 10px;
}

/* line 1263, ../sass/styles.scss */
.text1row72 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 45px;
  font-weight: 400;
  line-height: 72px;
  font-family: 'Great Vibes',cursive;
  margin-top: 30px;
  text-align: center;
}

/* line 1274, ../sass/styles.scss */
.text2row71 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 24px;
  text-align: left;
  font-family: 'Great Vibes',cursive;
}

/* line 1284, ../sass/styles.scss */
.circle {
  border-radius: 50%;
  font-size: 150%;
  margin-top: -1em;
  text-align: center;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

/* line 1294, ../sass/styles.scss */
.social {
  text-align: center;
}

/* line 1298, ../sass/styles.scss */
.fa-twitter {
  background: white;
  color: black;
  padding: 0.23em 0.26em;
  margin-left: 5%;
}

/* line 1307, ../sass/styles.scss */
.fa-google {
  color: black;
  background: white;
  padding: 0.26em 0.43em;
  margin-left: 5%;
}

/* line 1314, ../sass/styles.scss */
.fa-pinterest-p {
  color: black;
  background: white;
  padding: 0.27em 0.39em;
  margin-left: 5%;
}

/* line 1321, ../sass/styles.scss */
.fa-facebook {
  background: white;
  color: black;
  padding: 0.23em 0.42em;
}

/* line 1327, ../sass/styles.scss */
.fa-instagram {
  background: white;
  color: black;
  padding: 0.28em 0.36em;
  margin-left: 5%;
}

/* line 1334, ../sass/styles.scss */
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(60deg);
}

/* line 1342, ../sass/styles.scss */
input {
  font-family: 'Great Vibes',cursive;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 470px;
  height: 44px;
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  margin-bottom: 13px;
}

/* line 1355, ../sass/styles.scss */
textarea {
  font-family: 'Great Vibes',cursive;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #6c6c6c;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  margin-bottom: 13px;
}

/* line 1366, ../sass/styles.scss */
.btn-danger {
  float: right;
  font-family: 'Great Vibes',cursive;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400px;
  padding: 5px 20px;
}
/* line 1373, ../sass/styles.scss */
.btn-danger i {
  float: left;
  margin-right: 15px;
}
/* line 1378, ../sass/styles.scss */
.btn-danger span {
  float: left;
}

/* line 1383, ../sass/styles.scss */
.btn-danger:before {
  content: "\f1d8     ";
  font-family: fontAwesome;
  font-size: 20px;
}

/* line 1389, ../sass/styles.scss */
footer {
  font-family: 'Great Vibes',cursive;
  color: #ffffff;
  font-size: 24px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 32px;
  /* Approximation due to font substitution */
  text-align: center;
}

/* line 1398, ../sass/styles.scss */
.foot {
  margin-top: 6%;
  width: 100%;
}

/* line 1403, ../sass/styles.scss */
.container#footer {
  position: relative;
}

/* line 1407, ../sass/styles.scss */
.label1 {
  font-size: 23px;
  width: 75px;
  float: left;
  font-family: 'Great Vibes',cursive;
}

/* line 1414, ../sass/styles.scss */
.label2 {
  width: 69%;
  float: left;
  font-size: 23px;
  font-family: 'Great Vibes',cursive;
}

@media (min-width: 992px) {
  /* line 2, ../sass/partials/media.scss */
  .carousel-item.active-next {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  /* line 8, ../sass/partials/media.scss */
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
  }

  /* line 28, ../sass/partials/media.scss */
  #cd-nav li {
    display: inline-block;
  }

  /* line 32, ../sass/partials/media.scss */
  #cd-nav li a {
    opacity: 1;
    padding: .4em;
    margin-left: 1.6em;
    border-bottom: none;
  }

  /* line 39, ../sass/partials/media.scss */
  #cd-nav li a:hover {
    color: #00bd9b;
  }

  /* line 43, ../sass/partials/media.scss */
  #cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: white;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 60, ../sass/partials/media.scss */
  #cd-nav.is-fixed ul li {
    display: block;
  }

  /* line 64, ../sass/partials/media.scss */
  #cd-nav.is-fixed ul li a {
    padding: 1.6em;
    margin-left: 0;
    border-bottom: 1px solid #eff2f6;
  }

  /* line 70, ../sass/partials/media.scss */
  #cd-nav ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }

  /* line 77, ../sass/partials/media.scss */
  #cd-nav ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
  }

  /* line 90, ../sass/partials/media.scss */
  #cd-nav ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
}
@media (max-width: 767px) {
  /* line 108, ../sass/partials/media.scss */
  .carousel-indicators#firstsleek {
    margin-top: -14%;
  }

  /* line 114, ../sass/partials/media.scss */
  .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  /* line 123, ../sass/partials/media.scss */
  #overlay-wrapper:after {
    background-size: 20px 20px;
  }

  /* line 127, ../sass/partials/media.scss */
  .bordervector {
    left: 40%;
  }

  /* line 131, ../sass/partials/media.scss */
  .btn-danger {
    float: none;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  /* line 143, ../sass/partials/media.scss */
  .add {
    padding-left: 15%;
  }

  /* line 146, ../sass/partials/media.scss */
  .logorow6 {
    height: 120px;
    width: 130px;
    margin-top: 11s0px;
  }
}
@media (min-width: 992px) {
  /* line 154, ../sass/partials/media.scss */
  #img41 {
    width: 100%;
    height: 588px;
    outline: 1px solid white;
    outline-offset: -10px;
  }

  /* line 161, ../sass/partials/media.scss */
  #img42 {
    width: 100%;
    height: 196px;
  }

  /* line 165, ../sass/partials/media.scss */
  #img43 {
    width: 100%;
    height: 193px;
  }

  /* line 169, ../sass/partials/media.scss */
  #img44 {
    width: 100%;
    height: 196px;
  }

  /* line 173, ../sass/partials/media.scss */
  #img45 {
    width: 100%;
    height: 393px;
  }
}
@media (max-width: 992px) {
  /* line 186, ../sass/partials/media.scss */
  #overlay-wrapper:after {
    background-size: 25px 25px;
  }

  /* line 194, ../sass/partials/media.scss */
  .row#row7 .logo3 {
    width: 60%;
    padding-top: 8%;
  }
  /* line 198, ../sass/partials/media.scss */
  .row#row7 .text1row7 {
    font-size: 45px;
  }
  /* line 201, ../sass/partials/media.scss */
  .row#row7 #row71 {
    text-align: justify-center;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  /* line 215, ../sass/partials/media.scss */
  #img41 {
    width: 100%;
    height: 245px;
    outline: 1px solid white;
    outline-offset: -10px;
    position: relative;
  }

  /* line 222, ../sass/partials/media.scss */
  #img42 {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    position: relative;
  }

  /* line 228, ../sass/partials/media.scss */
  #img43 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 234, ../sass/partials/media.scss */
  #img44 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 239, ../sass/partials/media.scss */
  #img45 {
    width: 100%;
    height: auto;
    position: relative;
  }

  /* line 245, ../sass/partials/media.scss */
  .imagequote {
    border: 1px solid black;
    font-size: 3.8em;
    padding-top: 20px;
    position: absolute;
    z-index: 5;
    top: 316px;
    width: 441px;
    height: 94px;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  /* line 265, ../sass/partials/media.scss */
  .text2row7 {
    font-size: 38px;
  }

  /* line 270, ../sass/partials/media.scss */
  #secondsleek {
    margin-top: 3em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -40px;
  }
}
/*Extra-----------------*/
